accelerate==1.5.2
addict==2.4.0
beautifulsoup4==4.13.4
bitsandbytes==0.45.3
FlagEmbedding==1.3.4
huggingface-hub==0.30.2
lm-format-enforcer==0.10.11
modelscope==1.25.0
numba==0.60.0
numpy==1.26.4
pandas==2.2.3
peft==0.15.0
pillow==11.0.0
pyarrow==19.0.1
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
sentence-transformers==4.0.2
shellingham==1.5.4
simplejson==3.20.1
six==1.17.0
tiktoken==0.7.0
tokenizers==0.21.1
torch==2.6.0+cu118
torchaudio==2.6.0+cu118
torchvision==0.21.0+cu118
tqdm==4.67.1
transformers==4.51.2
triton==3.2.0
trl==0.16.0
vllm==0.8.1
wandb==0.19.9
xformers==0.0.29.post2